@tailwind base;
@tailwind components;
@tailwind utilities;

/* CARDS */

.cardIMG {
    position: relative;
    width: 350px;
    height: 250px;
    background-color: #3f3f3f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .cardIMG img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Puedes ajustar a 'contain' según tus necesidades */
    border-radius: 10px; /* Ajusta esto si también deseas bordes redondeados en la imagen */
  }
  
  .cardIMG:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .cardIMG__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #cccccc;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
  }
  
  .cardIMG:hover .cardIMG__content {
    transform: rotateX(0deg);
  }
  
  .cardIMG__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .cardIMG:hover svg {
    scale: 0;
  }
  
  .cardIMG__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
    margin: 10px;
  }

  /* CUSTOM IMG*/

  .custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #e8e8e8;
    background-color: #212121;
    padding: 1.5rem;
    border-radius: 10px;
    /* box-shadow: 0px 48px 35px -48px #e8e8e8; */
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: #e8e8e8;
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: #e8e8e8;
  }
  
  .custum-file-upload input {
    display: none;
  }